<div class="SignOn">
    <div class="Form__sign-on pt1">
      <mat-form-field>
        <input type="text"
               matInput
               placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input type="password"
               matInput
               placeholder="Password">
      </mat-form-field>
      <mat-form-field>
        <input type="password"
               matInput
               placeholder="Password Repeat">
      </mat-form-field>
      <div class="mb1 btn-submit">
        <button mat-raised-button
                color="primary">注册</button>
      </div>
      <div class="mb1 btn-cancel">
        <button mat-button
                color="primary">取消</button>
      </div>
    </div>
  </div>
