<div class="MyServiceCard">
  <mat-card>
    <mat-nav-list>
      <mat-list-item>
        <a matLine
           routerLink="/home">我的收藏</a>
        <mat-icon mat-list-icon>star</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a matLine
           routerLink="/home">我关注的问题</a>
        <mat-icon mat-list-icon>help</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a matLine
           routerLink="/home">我的邀请</a>
        <mat-icon mat-list-icon>person_add</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a matLine
           routerLink="/home">社区服务中心</a>
        <mat-icon mat-list-icon>contacts</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a matLine
           routerLink="/home">版权服务中心</a>
        <mat-icon mat-list-icon>copyright</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a matLine
           routerLink="/home">公共编辑动态</a>
        <mat-icon mat-list-icon>border_color</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-card>
</div>
