<article class="RecommendCard mb1">
  <mat-card>
    <mat-card-header>
      <!-- <div class="Recommend__header--origin">来源</div> -->
      <div mat-card-avatar></div>
      <mat-card-title>测试用户名</mat-card-title>
      <mat-card-subtitle>用户签名，用户签名</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>
        <a [routerLink]="['/question', question._id]">{{ question.title }}</a>
      </h3>
      <p>{{ question.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <i class="material-icons agree-up">play_arrow</i>
        <span>1.5K</span>
      </button>
      <button mat-button>
        <i class="material-icons agree-down">play_arrow</i>
      </button>
      <button mat-button>Like</button>
      <button mat-button>Share</button>
    </mat-card-actions>
  </mat-card>
</article>
