<article class="RecommendCard mb1">
  <mat-card>
    <mat-card-header>
      <!-- <div class="Recommend__header--origin">来源</div> -->
      <div mat-card-avatar></div>
      <mat-card-title>测试用户名</mat-card-title>
      <mat-card-subtitle>用户签名，用户签名</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>关于网站必须绑定手机号码验证的规定？</h3>
      <p>知乎让我用手机验证我一点都没有手机换号的顾虑，毕竟这就不是一个能让我产生多少依赖的地方。当然，也许我对任何地方都不会产生这种奇怪的感情。</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi optio alias eius praesentium aliquam libero nam culpa
        corporis sit mollitia iste vel vitae obcaecati, molestiae unde totam nesciunt fugit. Ut.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <i class="material-icons agree-up">play_arrow</i>
        <span>1.5K</span>
      </button>
      <button mat-button>
        <i class="material-icons agree-down">play_arrow</i>
      </button>
      <button mat-button>Like</button>
      <button mat-button>Share</button>
    </mat-card-actions>
  </mat-card>
</article>
