<div class="QuestionDetailDescription mb1">
  <div class="Question-detail-description">
    <div class="Question-detail-description__header">
      <div class="Question-detail-description__profile">
        <div>
          <span>关注者 {{ question.saveUserIds ? question.saveUserIds.length : 0 }} 人</span>
        </div>
        <div>
          <span>被浏览 {{ question.lookCount || 0 }} 次</span>
        </div>
      </div>
    </div>
    <div class="Question-detail-description__body">
      <div class="Question-detail-description__vote">
        <app-votecell [vote]="question"></app-votecell>
      </div>
      <div class="Question-detail-description__content">
        <div [innerHTML]="question.description"></div>
      </div>
    </div>
  </div>
</div>
