<div class="UserHeader">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group class="UserHeader__avatar m0">
        <img mat-lg-image
             width="100"
             height="100"
             [title]="hasLogin ? '点击更换头像' : user?.username"
             (click)="hasLogin && inputAvatar.click()"
             [src]="user.avatar"
             alt="avatar">
        <div class="FORM_HIDDEN_AVATAR_UPLOAD">
          <form #formAvatar
                method="POST"
                enctype="multipart/form-data">
            <input #inputAvatar
                   hidden
                   type="file"
                   name="avatar"
                   id="avatar"
                   (change)="onChangeAvatar(formAvatar)">
          </form>
        </div>
      </mat-card-title-group>
      <mat-card-title-group class="UserHeader__profile m0">
        <mat-card-title>
          <h2>{{ user?.username }}</h2>
          <a *ngIf="hasLogin"
             [routerLink]="['/user', 'modify']">更改用户信息</a>
        </mat-card-title>
        <mat-card-subtitle>{{ user?.profile }}</mat-card-subtitle>
        <div>
          <button *ngIf="user && !user.isSelf"
                  mat-raised-button
                  [color]="(user.hasFollowHim) ? 'default' : 'accent'"
                  (click)="onToggleFollow(user.hasFollowHim)">{{ (user.hasFollowHim) ? '取消关注' : '关注用户' }}</button>
        </div>
      </mat-card-title-group>
    </mat-card-header>

  </mat-card>
</div>
