<div class="UserHeader">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group class="UserHeader__avatar m0">
        <input #inputAvatar
               hidden
               type="file"
               name="avatar"
               id="avatar"
               (change)="onChangeAvatar($event)">
        <img mat-lg-image
             (click)="inputAvatar.click()"
             src="http://temp.im/100x100"
             alt="avatar">
      </mat-card-title-group>
      <mat-card-title-group class="UserHeader__profile m0">
        <mat-card-title>
          <h2>{{ user?.username }}</h2>
        </mat-card-title>
        <mat-card-subtitle>{{ user?.profile }}</mat-card-subtitle>
        <div>
          <span>{{ user | json }}</span>
          <button *ngIf="user && !user.isSelf"
                  mat-raised-button
                  [color]="(user.hasFollowHim) ? 'default' : 'accent'"
                  (click)="onToggleFollow(user.hasFollowHim)">{{ (user.hasFollowHim) ? '取消关注' : '关注用户' }}</button>
        </div>
      </mat-card-title-group>
      <!-- <mat-card-title-group>
      </mat-card-title-group> -->
    </mat-card-header>

  </mat-card>
</div>
