<div class="AskPage pt1">
  <div class="Ask-page__container">
    <div class="Ask-page__header">
      <div class="Ask-page__header--title mb1">写下你的问题</div>
      <div class="Ask-page__header--subtitle">描述精确的问题更易得到解答</div>
    </div>
    <div class="Ask-page__body">
      <div class="New-question__title">
        <mat-form-field>
          <input matInput
                 [(ngModel)]="questionModel.title"
                 name="questionModel.title"
                 placeholder="问题标题">
        </mat-form-field>
      </div>
      <div class="New-question__tags">
        <mat-form-field>
          <mat-chip-list #tagChipList>
            <mat-chip *ngFor="let tag of questionModel.tags; let tagIndex = index"
                      [selectable]="true"
                      [removable]="true">
              <span>{{ tag }}</span>
              <mat-icon matChipRemove
                        (click)="remove(tagIndex)">cancel</mat-icon>
            </mat-chip>
            <input placeholder="添加话题"
                   [matChipInputFor]="tagChipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>
      <div class="New-question__description pb1">
        <p>问题描述（可选）：</p>
        <div>
          <quill-editor [(ngModel)]="questionModel.description"
                        name="question.description"></quill-editor>
        </div>
      </div>
      <div class="New-question__is-anonymous">
        <mat-checkbox [(ngModel)]="questionModel.isAnonymous"
                      name="questionModel.isAnonymous">匿名提问</mat-checkbox>
      </div>
    </div>
    <div class="Ask-page__footer mt1">
      <button mat-raised-button
              color="primary"
              (click)="onSubmit()">提交问题</button>
    </div>
  </div>
</div>
