.App {
  height: 100%;
}

.App__container {
  position: absolute;
  top: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.App__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.App__body {
  padding: 1rem 20%;
}

@media screen and (max-width: 1350px) {
  .App__body {
    padding: 1rem 10%;
  }
}

@media screen and (max-width: 600px) {
  .App__body {
    padding: 1rem 0;
  }
}
