.App {
  height: 100%;
}

.App__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.App__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.App__body {
  flex-grow: 1;
  padding: 1rem 20%;
}

@media screen and (max-width: 1350px) {
  .App__body {
    padding: 1rem 10%;
  }
}

@media screen and (max-width: 600px) {
  .App__body {
    padding: 2rem 0;
  }
}

.App__footer {
  height: 1rem;
  margin-top: 1rem;
  padding: 3.5rem;
  background-color: #FFFFFF;
  color: #9E9E9E;
  font-size: .9rem;
  .copyright {
    margin: 0 auto;
    text-align: center;
    font-size: inherit;
  }
}
