<div class="QuestionReplyItem">
  <article class="QuestionReplyList__item">
    <mat-card>
      <mat-card-content *ngIf="reply?.activity"
                        class="about-me">
        <span>赞同了回答</span>
        <span>1个月前</span>
      </mat-card-content>
      <mat-card-header>
        <div mat-card-avatar
             role="link"
             title="{{ reply?.user?.username }}"
             [routerLink]="['/user', reply?.user?.id]"
             [style.backgroundImage]="'url(' + reply?.user?.avatar + ')'"></div>
        <mat-card-title role="link"
                        title="{{ reply?.user?.username }}"
                        [routerLink]="['/user', reply?.user?.id]">{{ reply?.user?.username }}</mat-card-title>
        <mat-card-subtitle>{{ reply?.user?.profile }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div [innerHTML]="reply?.content"></div>
      </mat-card-content>
      <mat-card-actions style="display: flex; flex-direction: row-reverse;">
        <!-- <button mat-button>
          <i class="material-icons"
             [class.has-true]="reply.hasUp">thumb_up</i>
          <span>{{ reply.upCount }}</span>
        </button>
        <button mat-button>
          <i class="material-icons"
             [class.has-true]="reply.hasDown">thumb_down</i>
          <span>{{ reply.downCount }}</span>
        </button>
        <button mat-button>Like</button> -->
        <button mat-button
                (click)="toggleShowCommentList()">
          <i class="material-icons">chat_bubble_outline_black</i>
          <span>添加评论</span>
        </button>
      </mat-card-actions>
      <mat-card-content *ngIf="showCommentList">
        <!-- 评论 -->
        <app-question-comment-container [questionId]="reply.questionId"
                                        [replyId]="reply.id"></app-question-comment-container>
      </mat-card-content>
    </mat-card>
  </article>
</div>
