.Question-detail-description__header {
  display: flex;
  justify-content: space-between;
}
.Question-detail-description__profile {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  div {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .QuestionDetailDescription {
    padding: 0 0.5rem;
  }
}
