<div class="QuestionDetailDescription mb1">
  <div class="Question-detail-description">
    <div class="Question-detail-description__header">
      <div class="Question-detail-description__tags">
        <mat-chip-list>
          <mat-chip color="primary">人性</mat-chip>
          <mat-chip color="primary">中国</mat-chip>
          <mat-chip color="primary">中国人</mat-chip>
          <mat-chip color="primary">细节</mat-chip>
        </mat-chip-list>
      </div>
      <div class="Question-detail-description__profile">
        <div>
          <span>关注者</span>
          <span>2340</span>
        </div>
        <div>
          <span>被浏览</span>
          <span>32940324</span>
        </div>
      </div>
    </div>
    <div class="Question-detail-description__body">
      <h2 class="Question-detail-description__title">{{ question?.title }}</h2>
      <div class="Question-detail-description__content">
        <!-- <p>{{ question?.description }}</p> -->
        <div [innerHTML]="question.description"></div>
      </div>
    </div>
  </div>
</div>
