<div class="QuestionDetailDescription mb1">
  <div class="Question-detail-description">
    <div class="Question-detail-description__header">
      <div class="Question-detail-description__tags">
        <mat-chip-list>
          <mat-chip color="primary">人性</mat-chip>
          <mat-chip color="primary">中国</mat-chip>
          <mat-chip color="primary">中国人</mat-chip>
          <mat-chip color="primary">细节</mat-chip>
        </mat-chip-list>
      </div>
      <div class="Question-detail-description__profile">
        <div>
          <span>关注者</span>
          <span>2340</span>
        </div>
        <div>
          <span>被浏览</span>
          <span>32940324</span>
        </div>
      </div>
    </div>
    <div class="Question-detail-description__body">
      <h2 class="Question-detail-description__title">关于网站必须绑定手机号码验证的规定？</h2>
      <div class="Question-detail-description__content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam earum sed commodi quam neque repellat soluta debitis,
          labore expedita dolores placeat itaque aliquam tenetur. Iusto quae eum eaque sit nobis!</p>
        <p>Aut tempore molestias quisquam sint adipisci ipsam id nisi amet, non minima libero quas nulla deserunt quo omnis
          quia quis officiis excepturi cupiditate dolorem in. Deserunt laborum nobis cum enim.</p>
        <p>Alias officia cum vitae, expedita dolores cumque maiores doloribus rem atque necessitatibus harum debitis laboriosam
          explicabo quas possimus eius ea saepe, iusto facere. Doloremque voluptatem veniam eveniet. Facere, consectetur
          dolore.</p>
        <p>Illo obcaecati suscipit numquam, sapiente reprehenderit perferendis dolorem voluptas corporis maxime ullam! Asperiores,
          eius reiciendis. Aut totam possimus blanditiis deleniti quas quisquam itaque eum ratione? Iusto doloribus sit iste
          illo.</p>
      </div>
    </div>
  </div>
</div>
