<div class="UserMain">
  <mat-tab-group>
    <mat-tab label="动态">
      <div>
        <app-question-answer-list></app-question-answer-list>
      </div>
    </mat-tab>
    <mat-tab label="回答">
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate delectus facere, sapiente commodi doloribus natus
        cum quas quisquam hic ab adipisci iure animi ut error, beatae repudiandae ipsum officiis vero!</div>
    </mat-tab>
    <mat-tab label="提问">
      <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis dolorum alias earum quos consequatur beatae natus,
        quidem nulla, maxime optio iste, reprehenderit vero ut corrupti atque perspiciatis! Quod, accusantium voluptas?</div>
    </mat-tab>
    <mat-tab label="收藏">
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam natus veritatis vitae nulla officiis enim, corporis,
        corrupti sint eos ut qui fugit dolorum totam eligendi praesentium id. Deleniti, autem praesentium.</div>
    </mat-tab>
    <mat-tab label="关注">
      <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo sed, quae, perspiciatis dolores id obcaecati nulla eligendi,
        nobis aperiam illo non. Blanditiis ex culpa minima ullam maiores in. Omnis, quam.</div>
    </mat-tab>
  </mat-tab-group>
</div>
