<div class="UserMain">
  <mat-card class="p0">
    <mat-tab-group>
      <mat-tab label="动态">
        <h3>我的动态</h3>
        <app-question-answer-list></app-question-answer-list>
      </mat-tab>
      <mat-tab label="回答">
        <h3>我的回答</h3>
        <app-question-answer-list></app-question-answer-list>
      </mat-tab>
      <mat-tab label="提问">
        <h3>我的提问</h3>
        <app-question-answer-list></app-question-answer-list>
      </mat-tab>
      <mat-tab label="收藏">
        <h3>我收藏的</h3>
        <app-question-answer-list></app-question-answer-list>
      </mat-tab>
      <mat-tab label="关注">
        <h3>我关注的</h3>
        <app-question-answer-list></app-question-answer-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
