<nav class="TopNav">
  <mat-toolbar color="primary"
               class="p0">
    <!-- 导航链接 -->
    <div class="Link-wrap">
      <a mat-button
         routerLink="/home">首页</a>
      <a mat-button
         routerLink="/ask/pre">提问</a>
    </div>
    <!-- 搜索框 -->
    <div class="Search-wrap"
         [class.Search-wrap--searching]="searching$ | async">
      <mat-form-field>
        <input type="text"
               #searchBox
               (input)="onSearch(searchBox.value)"
               matInput
               aria-label="Search"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" class="TopNav__auto-complete--popover">
          <mat-optgroup *ngIf="(searchResults$ | async).byTitle"
                        label="标题">
            <mat-option *ngFor="let result of (searchResults$ | async).byTitle"
                        [value]="searchBox.value"
                        (onSelectionChange)="onAutoCompleteSelectedOption(result.id)">
              <a mat-list-item
                 class="SearchResult__item"
                 [routerLink]="['/question', result.id]"
                 [innerHTML]="result._highlight.title[0]"></a>
            </mat-option>
          </mat-optgroup>
          <mat-optgroup *ngIf="(searchResults$ | async).byDescription"
                        label="内容">
            <mat-option *ngFor="let result of (searchResults$ | async).byDescription"
                        [value]="searchBox.value"
                        (onSelectionChange)="onAutoCompleteSelectedOption(result.id)">
              <a mat-list-item
                 class="SearchResult__item"
                 [routerLink]="['/question', result.id]"
                 [innerHTML]="result._highlight.description[0]"></a>
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- 用户 -->
    <div *ngIf="loginedUser"
         class="User-wrap">
      <a mat-button
         [matMenuTriggerFor]="topNavUserMenu"
         class="User-wrap__avatar"
         role="button"
         title="{{ loginedUser.username }}">我的
        <!-- <img src="http://spacehold.it/40x40"
             alt="{{ loginedUser.id }}"> -->
      </a>
      <mat-menu #topNavUserMenu="matMenu"
                [overlapTrigger]="false">
        <a role="button"
           [routerLink]="['/user', loginedUser.id]"
           mat-menu-item>
          <mat-icon>person_outline_black</mat-icon>
          <span>我的主页</span>
        </a>
        <a mat-menu-item
           role="button"
           (click)="onExit()">
          <mat-icon>exit_to_app_black</mat-icon>
          <span>退出</span>
        </a>
      </mat-menu>
    </div>
    <div *ngIf="!loginedUser"
         class="User-wrap">
      <a class="Icon-wrap"
         role="button"
         routerLink="/sign">
        <span>登录</span>
      </a>
    </div>
  </mat-toolbar>
</nav>
