<nav class="TopNav">
  <mat-toolbar color="primary"
               class="p0">
    <!-- 导航链接 -->
    <div class="Link-wrap">
      <a mat-button
         routerLink="/home">首页</a>
      <a mat-button
         routerLink="/home/explore">发现</a>
      <a mat-button
         routerLink="/sign">话题</a>
    </div>
    <!-- 搜索框 -->
    <div class="Search-wrap">
      <input type="search"
             matInput
             placeholder="Search">
      <a class="Icon-wrap"
         role="button">
        <i class="material-icons">search</i>
      </a>
    </div>
    <!-- 用户 -->
    <div *ngIf="loginedUser"
         class="User-wrap">
      <a class="Icon-wrap"
         role="button">
        <mat-icon>notifications_black</mat-icon>
      </a>
      <a class="Icon-wrap"
         role="button">
        <mat-icon>question_answer_black</mat-icon>
      </a>
      <!-- [routerLink]="['/user', loginedUser.id]" -->
      <a mat-button
         [matMenuTriggerFor]="topNavUserMenu"
         class="User-wrap__avatar"
         role="button"
         title="{{ loginedUser.username }}">
        <img src="http://spacehold.it/40x40"
             alt="{{ loginedUser.username }}">
      </a>
      <mat-menu #topNavUserMenu="matMenu"
                [overlapTrigger]="false">
        <a role="button"
           [routerLink]="['/user', loginedUser.id]"
           mat-menu-item>
          <mat-icon>person_outline_black</mat-icon>
          <span>我的主页</span>
        </a>
        <a role="button"
           mat-menu-item>
          <mat-icon>exit_to_app_black</mat-icon>
          <span>退出</span>
        </a>
      </mat-menu>
    </div>
    <div *ngIf="!loginedUser"
         class="User-wrap">
      <a class="Icon-wrap"
         role="button"
         routerLink="/sign">
        <span>登录</span>
      </a>
    </div>
  </mat-toolbar>
</nav>
