<nav class="TopNav">
  <mat-toolbar color="primary"
               class="p0">
    <!-- 导航链接 -->
    <div class="Link-wrap">
      <a mat-button
         routerLink="/home">首页</a>
      <a mat-button
         routerLink="/home/explore">发现</a>
      <a mat-button
         routerLink="/sign">话题</a>
      <a *ngIf="email"
         mat-button
         routerLink="/sign">{{ email }}</a>
    </div>
    <!-- 搜索框 -->
    <div class="Search-wrap">
      <input type="search"
             matInput
             placeholder="Search">
      <a class="Icon-wrap"
         role="button">
        <i class="material-icons">search</i>
      </a>
    </div>
    <!-- 用户 -->
    <div class="User-wrap">
      <a class="Icon-wrap"
         role="button">
        <mat-icon>notifications_black</mat-icon>
      </a>
      <a class="Icon-wrap"
         role="button">
        <mat-icon>question_answer_black</mat-icon>
      </a>
      <a class="User-wrap__avatar"
         role="link"
         [routerLink]="['/user/test']"
         title="荷兰酒">
        <img src="http://spacehold.it/40x40"
             alt="荷兰酒">
      </a>
    </div>
  </mat-toolbar>
</nav>
