<div class="SignPage flex-column">
  <div class="Sign-page__body flex-column">
    <div class="Sign-page__header flex-column mb1">
      <div class="Sign-page__header--main mb1">
        学工办知乎
      </div>
      <div class="Sign-page__header--sub">
        中原工学院
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="登录">
        <app-sign-in [errorMessage]="authSignInError$ | async"
                     (submit)="onSignInSubmit($event)"></app-sign-in>
      </mat-tab>
      <mat-tab label="注册">
        <app-sign-on [errorMessage]="authSignOnError$ | async"
                     (submit)="onSignOnSubmit($event)"></app-sign-on>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
