/* You can add global styles to this file, and also import other style files */

@import '~normalize.css/normalize.css';

// import material theme
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';

// 定义 Material Icons 字体
@font-face {
  font-family: 'Material Icons';
  src: url(/assets/fonts/MaterialIcons-Regular.woff2),
  url(/assets/fonts/MaterialIcons-Regular.woff),
  url(/assets/fonts/MaterialIcons-Regular.ttf);
}

body .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

html, body {
  height: 100%;
}
body {
  background: rgb(250, 250, 250);
}

.mt1 {
  margin-top: 1rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.pt1 {
  padding-top: 1rem;
}
.pb1 {
  padding-bottom: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  .mat-dialog-container,
  .mat-card,
  .mat-button,
  {
    border-radius: 0;
  }
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 100%;
  // background: lightgrey;
}
::-webkit-scrollbar-thumb {
  background: rgba(156, 156, 156, 0.87);
}
