<div class="UserHeader">
  <mat-card>
    <mat-card-header>
      <!-- <div mat-card-avatar
           style="background: url(http://temp.im/100x100)"></div> -->
      <mat-card-title-group class="UserHeader__avatar m0">
        <img mat-lg-image
             src="http://temp.im/100x100"
             alt="avatar">
      </mat-card-title-group>
      <mat-card-title-group class="UserHeader__profile m0">
        <mat-card-title>姓名</mat-card-title>
        <mat-card-subtitle>好,支持,有希望了xxxxxxxxxxxxx</mat-card-subtitle>
      </mat-card-title-group>
      <!-- <mat-card-title-group>
      </mat-card-title-group> -->
    </mat-card-header>

  </mat-card>
  <!-- <div>
    <img src="http://placehold.it/1152x200" alt="">
  </div> -->
</div>
